#config, #window {text-align: center!important;}

.wrapper {
  display: inline-block;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  text-align: center;

  img {max-width: 100%;}
}

.settings input#img {width: 200px}
.settings input:not(#img) {width: 50px}

.grid {
  position: absolute;
  top: 0;
  left: 0;
  border-collapse: collapse;
  table-layout: fixed;
  border: 1px solid;
  overflow: hidden;

  tr, td {padding: 0; margin: 0; position: relative; border: none!important;}
  td {
      box-sizing: border-box;
      top: 0;
      margin: 0; padding: 0;
      border: none;
      transition: all .2s;
      outline: 1px dotted rgba(127, 127, 127, .5);

      &:hover, &.clicked {opacity: 0;}
  }
}

.dark td {background: black;}
.light td {background: white;}
