@import url('https://fonts.googleapis.com/css?family=Ubuntu|Muli');
@import url('https://use.fontawesome.com/releases/v5.0.6/css/all.css');
@import url('https://fonts.googleapis.com/earlyaccess/mplus1p.css');

body {
  margin: 0;
  font: 12px/150% 'Ubuntu', 'Mplus 1p', sans-serif;
  background: #eee;
  color: #444;
  transition: background .5s, color .5s;
}

.dark {
  background: #222;
  color: #bbb;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #8ea4af;
  transition: color .5s;
}

b {
  color: #baac7a;
}

a:hover {
  color: #baac7a;
}

blockquote {
  background: rgba(127,127,127,0.1);
  margin: 0;
  padding: 1em;
}

ul.links {
  padding: 0;
  list-style: none;
  text-align: center;
  margin: 0;
}

ul.links li {
  display: inline-block;
  padding: 0 .25em;
}


#barba-wrapper {
  padding: 2em 0;
  width: 70%;
  min-width: 300px;
  max-width: 600px;
  box-sizing: border-box;
  margin: auto;
  position: relative;
}

[role='navigation'] {
 padding: 0;
 list-style: none;
 text-align: center;
 display: inline-block;
 margin: 0;
}

.grid-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  justify-content: space-around;
}

.grid-list li {
  padding: 1.5em;
  width: 80px;
}

.grid-list li a:first-child {
  margin: 0 .5em 0 0;
}

[role='navigation'] li {
   display: inline-block;
   padding: 0 5px;
}

.barba-container {
  border-top: 1px dashed;
  padding: .5em 0 0;
  margin: .5em 0 0;
  padding: 1em;
}

hr {
  border: none;
  border-top: 1px dashed;
  margin: 1em -1em;
}

#lights {
  background: none;
  padding: 0;
  border: 0;
  text-shadow: 0 0 0 transparent;
  transition: text-shadow .5s;
  vertical-align: middle;
  color: inherit;
  font: inherit;
}

#lights:focus {outline: none;}

#lights:hover {text-shadow: 0px 0px 5px #abc;}

#tooltip {
  background: #222;
  color: #ddd;
  padding: 0 4px;
  margin: 20px;
  position: fixed;
  transition-property: opacity;
  transition-duration: 0.3s;
}

.dark #tooltip {
  background: #ddd;
  color: #222;
}

h3 {
  margin: 0;
  text-align: center;
  color: #baac7a;
}

h3::before, h3::after {
  content: '';
  border-top: 1px solid;
  width: 20px;
  display: inline-block;
  margin: 0.25em 3px;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  width: fit-content;
  justify-content: center;
  margin: auto;
}

.gallery img {
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid;
  cursor: pointer;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  transition: opacity .5s;
}

.modal-contents {
  padding: 10px;
  border: 1px;
}

.modal-desc {
  width: 30vw;
  height: 100vh;
  background: #ccc;
  padding: 15px;
  box-sizing: border-box;
  transition: all .5s;
  position: relative;
  z-index: 2;
}

.dark .modal-desc {
  background: #333;
}

@media (max-width: 600px) {
  .modal-wrapper {
    flex-direction: column-reverse;
    align-content: stretch;
  }
  .modal-desc {
    position: absolute;
    bottom: 0; left: 0; right: 0;
    height: fit-content;
    width: 100vw;
  }

  .modal-contents {
    margin-bottom: 20vh;
  }

  .modal-contents img {
    max-height: 200vh;
    max-width: 200vw;
  }
}

.modal-desc h1 {
  font: 200%/100% 'Muli', sans-serif;
  margin: .25em 0;
}

.modal-desc:not(.active) {display:none;}

.modal-contents img {
  max-height: 100vh;
  max-width: 70vw;
  padding: 20px;
  box-sizing: border-box;
  pointer-events: none;
}

:not(.active) + .modal-contents img {
  max-width: 100%;
}

.modal-leave {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 300%;
  color: #eee;
  cursor: pointer;
  z-index: 3;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.modal-wrapper:not(.active) {
  opacity: 0;
  pointer-events: none;
}
